<ion-header>
  <ion-navbar>
    <ion-title>
      Viva Anuncios
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor = "let c of Casas" col-4>
        <ion-card (click) = "VerCasa(c)">
          <img *ngIf = "c.hasOwnProperty('pictures')" src = "{{c.pictures[0].url}}">
        </ion-card>
        <ion-card-content>
          <h1 *ngIf = "c.hasOwnProperty('price')">
              {{c.price.formattedAmount}}
          </h1>
          <p *ngIf = "c.hasOwnProperty('geo')">
              {{c.geo.displayName}}
          </p>
            <h2 *ngIf = "c.hasOwnProperty('geo')">
              {{c.geo.name}}
            </h2>
          </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
